<h1>Welcome to Your Menu!</h1>
<p>Create monthly menus!</p>

<p> First create the Recipe scaffold with: </p>
	<ul>
		<li>title:string</li>
		<li>Directions:string</li>
		<li>Ingredients</li>
	</ul>

<p>Grocery List:</p>
<ul> 
	<li>belong_to :ingredients</li>
</ul>

	<p> Users to view a calendar
Users to add a recipe
Users to assign a recipe to a date
When a recipe is assigned to a date the grocery list is automatically created</p>